/* MovieList.css */

.movie-list {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.movie {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.movie img {
  width: 100%;
  border-radius: 5px;
}

.movie h2 {
  margin-top: 0;
}

.movie p {
  margin: 5px 0;
}
.single_movie {
height: 300px !important;
object-fit: contain;
}
 